body {
    max-height: 100%;
    overflow: hidden;
}

#usersList {
    max-height: 50%;
    overflow-y: scroll;
}

/* .screen {
    height: 50%;
    overflow-y: scroll;
} */

#chatDisplay {
    height: 300px;
    overflow-y: scroll;
}

/* #chatRoom {
    min-height: 50%;
    overflow-y: scroll;
} */